<section>
    <h1 class="font-header font-medium">
        Selected Publications
    </h1>
    <p>
        The following is a list of supplemental results from some of my
        publications.  A full publications list is available on my
        <a href="https://scholar.google.ca/citations?user=SWuGh3QAAAAJ">Google Scholar</a>
        page.
    </p>
    <ul class="list-disc pl-10">
        {% for publication in collections.publication reversed -%}
        <li>
            {{ publication.date | date: "%Y" }} &hyphen;
            <a href="{{ publication.url }}">{{ publication.data.title }}</a>
            &nbsp;
            [<a href="http://dx.doi.org/{{ publication.data.doi }}">{{ publication.data.doi }}</a>]
        </li>
        {% endfor -%}
    </ul>
    <div class="mt-4">
        &copy; {{ copyright.year }} Richard Rzeszutek
    </div>
</section>
