<h1>
    Selected Publications
</h1>
<p>
    The following is a list of supplemental results from some of my
    publications.  You can find a full, up-to-date list of publications on
    my <a href="https://scholar.google.ca/citations?user=SWuGh3QAAAAJ">Google Scholar</a>
    page.
</p>
<table class="w-full mt-2">
    <tbody>
        {% assign sorted_publications = publications | sort: "date" | reverse %}
        {% for publication in sorted_publications %}
            <tr>
                <td class="lg:pl-5"><time class="font-semibold">{{ publication.date | date: "%Y" }}</time></td>
                <td><a href="/publications/{{ publication.shortcode }}/">{{ publication.title }}</a></td>
                <td class="text-right hidden md:table-cell lg:pr-5">[<a href="http://dx.doi.org/{{ publication.doi }}">{{ publication.doi }}</a>]</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
